body{
    margin: 0;
}

.header{
    display:flex;
    flex-direction: row;
    background: black;
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: fixed;
    margin-top: -10px;
}


.flex1{
    flex: 1;
    background:yellow;
    height: 100px;
    justify-content: left;

}

.logo{
    width: 36px;
  height: 92px;
  position: absolute;
  margin-left: 19px;
  margin-top: -5px;
  cursor: pointer;
}

.button{
     background: white;
    border: none;
    border-radius: 20px;
    width: 166px;
    height: 35px;
    margin-left: 69px;
    margin-top: 21px;
}
   
.p_nav{
    text-align: start;
    margin-top: 9px;
    color: gray;
  
}

.image_magnify{
    width: 32px;
  height: 24px;
  float: left;
  margin-top: 6px;
}


.flex2{
    flex: 1;
    background:yellow;
    height: 100px;
    flex-direction: column;
   
}

.stories{
    height: 56px;
    width: 56px;
    background:yellow;
    margin-left: 53px;
    position: absolute;
    margin-top: 11px;
    border-radius: 10px;
    cursor: pointer;
}

.stories:hover{
background: rgb(189, 203, 0);
}
.pause_icon{
    width: 42px;
    height: 28px;
    margin-top: 8px;
    margin-left: 5px;
}
.p1{
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 450;
}

.spotlight{
    height: 56px;
  width: 56px;
  background:yellow;
    margin-left: 125px;
    position: absolute;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.spotlight:hover{
    background: rgb(189, 203, 0);
    }
.play_icon{

    width: 30px;
    height: 28px;
    margin-top: 8px;
    margin-left: 12px;
  }
   .p2{
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 450;
   }

.chat{
    height: 56px;
  width: 56px;
  background:yellow;
    margin-left: 195px;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.chat:hover{
    background: rgb(189, 203, 0);
    }
.chat_icon{
  width: 30px;
  height: 38px;
  margin-top: 4px;
  margin-left: 12px;
}
.p3{
    font-size: 10px;
    text-align: center;
    margin-top: -4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 450;
}
 
.lenses{
    height: 56px;
    width: 56px;
    background:yellow; 
    margin-left: 265px;
    margin-top: 10px;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}

.lense_logo{
    width: 30px;
    height: 29px;
    margin-top: 7px;
    margin-left: 12px;
    position: absolute;
}
.lenses:hover{
    background: rgb(189, 203, 0);
    }



.p4{
    font-size: 10px;
    text-align: center;
    margin-top: 38px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 450;
  
}


.map{
    height: 56px;
    width: 56px;
    background:yellow;
    margin-left: 340px;
    margin-top: 10px;
    border-radius: 11px;
    cursor: pointer;
 
}
.map:hover{
    background: rgb(189, 203, 0);
    }

.map_icon{
    width: 30px;
    height: 29px;
    margin-top: 8px;
    margin-left: 12px;
    position: absolute;
}
.p5{
    font-size: 10px;
    text-align: center;
    margin-top: 38px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 450;
    position: absolute;
    margin-left: 18px;
}
.flex3{
    flex: 1;
    background:yellow;
    height: 100px;
   
}

.flex_div_3{
    width: 36px;
    height: 36px;
    background: white;
    margin-left: 192px;
    margin-top: 21px;
    border-radius: 66px;
    cursor: pointer;
}
.flex_div_3:hover{
    background-color:rgb(224, 224, 224);
    
}

.menu_icon{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
}

.button_2{
    width: 130px;
    height: 31px;
    align-items: center;
    margin-top: 2px;
    margin-left: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    border-radius: 16px;
    border: none;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 13px;
  }

  .button_3{
    width: 105px;
  height: 31px;
  align-items: center;
  margin-top: 2px;
  margin-left: 165px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: absolute;
  border-radius: 16px;
  border: none;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 13px;
  }

.body_div{
    width: 100%;
    height: 750px;
    background: yellow;
    margin-top: 10px;
    overflow: hidden;
}

.inner_body_div1{
    width: 40%;
    background: yellow;
    float: left;
    height: 575px;
    margin-top: 70px;
    
}

.h1_text{
    font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  font-family: 'Noto Sans', sans-serif;
  text-align: start;
  margin-top: 84px;
  margin-left: 193px;
}
.h1_text2{
    font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-left: 100px;
}
.h1_text3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    margin-left: 70px;
    margin-left: 189px;
  }

  .new-button{
    background: rgb(15, 173, 255);
  border: none;
  border-radius: 6px;
  height: 18px;
  width: 36px;
  color: white;
  font-size: 10px;

  }

  .log_in{
    height: 31px;
    width: 165px;
    text-align: center;
    margin-left: 200px;
    border: none;
    border-radius: 22px;
    font-weight: 650;
    background: black;
    color: white;
  }

  .laptop{
    width: 10px;
    height: 10px;
    
  }

  .or{
    font-size: 15px;
  margin-left: 388px;
  margin-top: -23px;
  font-family: 'Noto Sans', sans-serif;
  
  }
  .button4{
    width: 130px;
    height: 40px;
    margin-left: 444px;
    margin-top: -49px;
    position: absolute;
    border: none;
    border-radius: 5px;
    background: black;
  }

  .microsoft_icon{
    width: 30px;
    height: 27px;
    margin-top: 1px;
    float: left;
  }
  .p6{
    font-size: 9px;
    font-weight: 650;
    color: white;
    float: left;
    margin-top: 0px;;
  }
    
  .p7{
    font-size: 14px;
    font-weight: 650;
    color: white;
    position: absolute;
    margin-left: 29px;
    margin-top: 8px;
}
  
  
  


.home_pic{
  height: 650px;
  width: 665px;
  margin-left: 40px;
  margin-bottom: -32px;
  float: left;
  margin-top: -73px;
    
}

.inner_body_div2{
    width: 60%;
    height: 575px;
    background:yellow;
    float: right;
    margin-top: 70px;
  

    
    
}






.footer{
    width: 100%;
    height: 300px;
    background: rgb(255, 255, 255);
}


.footer_div1{
    width: 30%;
    height: 300px;
    background:white;
    float: left;
}
.footer_div2{
    width: 20%;
    height: 300px;
    background: rgb(255, 255, 255);
    float: left;
}
.footer_div3{
    width: 25%;
    height: 300px;
    background: rgb(255, 255, 255);
    float: left;
}
.footer_div4{
    width: 25%;
    height: 300px;
    background: rgb(255, 255, 255);
    float: left;
}

.list1{
    float: none;
    margin-left: 187px;
    margin-top: 30px;
    line-height: 13px;
}

.l1{
    list-style-type: none;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
    
}
.list2{
    margin-left: 10px;
    margin-left: -25px;
    margin-top: 30px;
    line-height: 13px;
  }

  .list3{
    margin-left: 10px;
    margin-left: -25px;
    margin-top: 30px;
    line-height: 13px;
  }
  .list4{
    margin-left: 10px;
    margin-left: -25px;
    margin-top: 30px;
    line-height: 13px;
  }
.label{
    margin-left: 222px;
    position: absolute;
    margin-top: 20px;
  }

.option{
    width: 170px;
  height: 31px;
  margin-left: 218px;
  margin-top: 77px;
  border-radius: 4px;
  border-width: 0px;
}

.footer2{
    width: 100%;
    height: 50px;
    background: rgb(32, 32, 32);
}


.a_tag1{
    margin-left: 215px;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin-top: 16px;
    position: absolute;
  }
  .a_tag2{
    margin-left: 345px;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin-top: 16px;
    position: absolute;
  }

