body{
    margin: 0px;
}

.body{
  width: 100%;
  height: 3315px;
  background: rgb(148, 29, 29);
}

.header{
    width: 100%;
    height: 96px;
    background-color:black;
}
.logo-menu{
    width: 5% ;
    height: 41px;
    background:black ;
    color:white;
    margin-left: 42px;
    margin-top: 41px;
    float: left;
}

.minimalist_logo{
  width: 138px;
  height: 24px;
  position: absolute;
  margin-left: -681px;
  margin-top: 36px;
  background: black;
  color: black;
}




.fa-bars{
    width: 20px;
  height: 10px;
  font-size: 31px;
  margin-top: -8px;
}

.fa-magnifying-glass{
    width: 10px;
    height: 10px;
    font-size: 30px;
    margin-left: 1226px;
    color: white;
    background: black;
    margin-top: 32px;
    cursor: pointer;
 }
  .fa-user{
    width: 10px;
    height: 10px;
    font-size: 30px;
    margin-left: 63px;
    color: white;
    background: black;
    margin-top: 11px;
    cursor: pointer;
    position: absolute;
  }
  
  
  .user-bar{
    width: 24px;
    height: 40px;
    display: inline-block;
    margin-left: -11px;
  }
  
  .bag-icon{
    width: 74px;
  height: 68px;
  color: white;
  background: rgb(0, 0, 0);
  margin-left: 77px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-top: 12px;
  }









  .inner-body1{
    width: 1045px;
  height: 690px;
  background: white;
  float: left
    
  }
  .pic1{
    width: 69%;
    height: 690px;
    position: absolute;
    margin-left: -19px;
    margin-top: 0px;
  }
  
  .inner-body2{
    width: 32%;
    height: 692px;
    background-color:white;
    margin-left: 68%;
    margin-top: -16px;
    
    
  }


  .p1{
    font-size: 14px;
  line-height: 425px;
  color: #222;
  margin-left: 3px;
  margin-top: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  }
  .p2{
    font-size: 37px;
  line-height: 10px;
  font-weight: bold;
  margin-top: -203px;
  margin-left: 2px;
  font-family: 'Oswald', sans-serif;
  }

  .p3{
    font-size: 37px;
    margin-left: 2px;
    margin-top: -4px;
    font-family: 'Oswald', sans-serif;
  }
  .p4{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .button1{
    width: 166px;
    height: 49px;
    background: black;
    color: white;
    border: none;
  }




  

  .inner-body3{
    width: 100%;
  height: 265px;
  background:white;
  margin-top: -11px;
}
  
  .p5{
    font-size: 35px;
    font-weight: bold;
    margin-top: 174px;
    margin-left: 185px;
    position: absolute;
  }

  .p6{
    font-size: 15px;
    font-weight: 10px;
    margin-top: 218px;
    margin-left: 184px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
  }
  




  .inner-body4{
    width: 100%;
    height: 675px;
    background:white;

  }
  .face-image{
  width: 1140px;
  height: 421px;
  margin-top: 20px;
  margin-left: 198px;

  }
  .product1{
    width: 330px;
    height: 303px;
    margin-top: 324px;
    margin-left: -1079px;
    position: absolute;
  }

  .button-for-product1{
    width: 223px;
  height: 58px;
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: none;
  margin-left: 312px;
  position: relative;
  font-size: 20px;
  }
  .product2{
  width: 330px;
  margin-top: -120px;
  margin-left: 70px;
  position: absolute;
  height: 303px;


  }
  .product3{
  width: 330px;
  height: 303px;
  margin-left: 417px;
  position: absolute;
  margin-top: -120px;
  }

  .button2{
    width: 137px;
  height: 61px;
  margin-left: 691px;
  margin-top: -62px;
  position: relative;
  border: none;
  display: block;
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  }
  .button3{
    width: 162px;
    height: 61px;
    position: relative;
    border: none;
    display: block;
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1033px;
    margin-top: -59px;

  }






  .inner-body5{
    background: #eee;
    width: 100%;
    height: 257px;

  }

  .p7{
    font-size: 37px;
    color: black;
    font-weight: bold;
    margin-top: 32px;
    position: absolute;
    margin-left: 418px;
  }


  

  .p8{

    font-size: 37px;
    color: black;
    font-weight: bold;
    margin-top: 69px;
    position: absolute;
    margin-left: 526px;
  }
  .p9{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-left: 354px;
    margin-top: 119px;
  }

  .button4{
    width: 240px;
  height: 45px;
  margin-top: 163px;
  margin-left: 648px;
  background: black;
  color: white;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  }





  .inner-body6{
    width: 100%;
    height: 500px;
    background:white;
  }

  .p10{
    font-size: 35px;
  margin-top: 167px;
  margin-left: 685px;
  font-weight: bold;
  position: absolute;

  }


  .last-icon1{
    width: 25%;
    height: 153px;
    background: white;
    margin-left: 181px;
    margin-top: 250px;
    position: absolute;
}
  

.last_icon1{
  width: 51px;
  height: 50px;
  margin-top: 2px;
  margin-left: 16px;
}

.p11{
  font-size: 23px;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 18px;
}

.p12{
  color: rgb(112, 112, 112);
  font-size: 14px;
  margin-top: -16px;
  margin-left: 18px;
  font-family: 'Open Sans', sans-serif;
}


.last-icon2{
  width: 25%;
  height: 155px;
  background: white;
  margin-top: 249px;
  margin-left: 565px;
  position: absolute;
}
  

.last_icon2{
  width: 47px;
  height: 54px;
  margin-left: 10px;
  margin-top: 10px;

}
  
.p13{
  font-size: 22px;
  font-weight: bold;
  margin-left: 9px;
  margin-top: 10px;
}

.p14{
  color: rgb(112, 112, 112);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -16px;
  margin-left: 8px;
}

.last-icon3{
  width: 25%;
  height: 155px;
  position: absolute;
  background: white;
  margin-top: 249px;
  margin-left: 949px;
}

.last_icon3{
  width: 47px;
  height: 54px;
  margin-left: 10px;
  margin-top: 10px;

}

.p15{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.p16{
  color: rgb(112, 112, 112);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -16px;
  margin-left: 19px;
}





.inner-body7{
  width: 100%;
  height: 410px;
  background:rgb(238, 238, 238);
}

.inner-body-div1{
  width: 350px;
  height: 220px;
  background: white;
  margin-left: 207px;
  margin-top: 95px;
  position: absolute;
}




.p17{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-left:57px;
  margin-top: 57px;
  position: absolute;
}
.p18{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-left:46px;
  margin-top: 80px;
  position: absolute;
}

.p19{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-left:48px;
  position: absolute;
  margin-top: 100px;
}
.p20{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-left:87px;
  margin-top: 120px;
  position: absolute;
}

.p21{
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-top: 149px;
  margin-bottom: 0px;
  margin-left: -19px;
  margin-right: 0px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  
}



.inner-body-div2{
  width: 350px;
  height: 220px;
  background: white;
  position: absolute;
  margin-left: 579px;
  margin-top: 95px;
  cursor: grab;

}
.p22{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 56px;
}
 .p23{
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
 }







.inner-body-div3{
  width: 350px;
  height: 220px;
  background: white;
  position: absolute;
  margin-left: 951px;
  margin-top: 95px;
}

.p24{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 56px;

}
.p25{
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.footer{
  width: 100%;
  height: 527px;
  background: black;
  position:absolute;
}

.plink{
  display: block;
  margin-bottom: 10px;
  text-decoration:underline;
  white-space: nowrap;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-decoration-color: rgb(114, 108, 101);
  cursor: pointer;
  
}

.plink:hover{
  transition-duration: 600ms;
  
  text-decoration:underline;
  text-decoration-color: rgb(255, 255, 255);
}

.footer_about{
  color: #eee;
  margin-top: -46px;
  margin-left: 0px;
  position: absolute;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;

}
.footer-div{
  width: 163px;
  height: 109px;
  background: rgb(0, 0, 0);
  margin-left: 124px;
  margin-top: 116px;
  position: absolute;
}

.footer-div2{
  width: 163px;
  height: 157px;
  background: rgb(0, 0, 0);
  margin-left: 361px;
  margin-top: 115px;
  position: absolute;
}

.help{
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin-top: -43px;
  position: absolute;
}


.s{
  background-color: #453e3e;
  margin-top: 336px;
  width: 1270px;
  height: 0.2px;
  border: none;

}

.footer-div3{
  width: 300px;
  height: 183px;
  background: black;
  margin-left: 100px;
}

.insta-icon{
  color: white;
  background: black;
  width: 20px;
  margin-left: 61px;
  margin-top: 20px;
}

.fb-icon{
  height: 25px;
  background: black;
  margin-left: -46px;
  width: 26px;
  margin-top: 18px;
  position: absolute;
}

.copyright{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(153, 153, 153);
  margin-left: 32px;
  margin-top: 21px;

}